body {
    font-family: 'League Spartan', sans-serif;
}

.landing-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.landing-page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.landing-page-info {
    z-index: 1;
}

.landing-page-button {
    background-color: #5eac00;
    border: none;
    padding: 2% 11%;
    border-radius: 5px;
    color: white;
    font-size: 23.5px;
    cursor: pointer;
}

.landing-page-button:hover {
    color: #5eac00;
    background-color: white;
    transition: all 0.2s ease-in;
}


.start-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #0093d3;
    flex: 1;
    background-color: rgb(218, 218, 218);
}

.green-line-order {
    border: 5px solid #5eac00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.red-line-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #d52540;
    flex: 1;
}

.orange-line-order {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid #d98c00;
    height: 40%;
}

.start-order>h2 {
    width: 60%;
    text-align: center;
}
