.menu {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 25px;
}

.menu-nav-categories div {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.category {
    width: 100px;
    margin: auto;
    line-height: 28px;
}

.menu-item-container {
    display: flex;
    width: 80%;
    margin: auto;
}

.menu-item {
    height: 10%;
    width: 10%;
    margin: auto;
}

.menu-item img {
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
