.menu {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 100px;
    margin: 20px auto 30px;
    border: green solid 1px
}

.menu-nav-categories div {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.category {
    width: 100px;
    margin: auto;
    line-height: 28px;
    cursor: pointer;
    border: 1px red solid
}

.category:hover {
    background-image: "/images/selected_cat/circle_1.png";
    background-size: cover;
}

.menu-item-container {
    display: flex;
    /* overflow-x: auto;
    width: 1000px; */
    gap: 20px;
    margin: auto;
}

.add-to-cart-btn {
    margin-top: 20px;
    background-color: #5EAA00;
    border: solid 1px #5EAA00;
    width: 87px;
    height: 28px;
    border-radius: 2px;
    font-size: 10px;
    color: #FFFFFF;
}

.add-to-cart-btn:hover {
    color: #5EAA00;
    background-color: #FFFFFF;
}

.menu-prev-next-btn {
    background-color: white;
    /* border: none; */
    font-size: 100px;
    height: 100px;
    margin: auto;
}
.edit-modal{
    height: 50vh;
    width: 50vw;
}
