.menu {
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 25px;
}

.menu-nav-categories div {
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

.category {
    width: 100px;
    margin: auto;
    line-height: 28px;
}

.menu-item-container {
    display: flex;
    width: 80%;
    gap: 10px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 250px;
    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 10px;
}

.menu-item {
    /* width: 30%; */
    margin: auto;
}

.menu-item img {
    object-fit: contain;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
}
