.menu {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 100%;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    /* justify-content: space-between; */
    width: 80%;
    max-width: 1000px;
    height: 120px;
    margin: 20px auto 30px;
    /* border: green solid 1px */
}

.menu-nav-categories div {
    font-weight: bold;
    font-size: 24px;
    /* color: #000000; */
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160px;
    height: 120px;
    margin: auto;
    line-height: 28px;
    /* cursor: pointer; */
    /* border: 1px red solid; */
    z-index: 1;
}

.category-title {
    /* border: 1px blue solid; */
    cursor: pointer;
    width: 100px;
}

.selector-lines {
    position: absolute;
    /* top: 0; */
    /* width: 125%; */
    visibility: hidden;
    z-index: -1;
}

.category-title:hover .selector-lines {
    opacity: 1;
    visibility: visible;
}

.menu-item-container {
    display: flex;
    /* overflow-x: auto;
    width: 1000px; */
    gap: 20px;
    margin: auto;
}

.add-to-cart-btn {
    margin-top: 20px;
    width: 120px;
    height: 40px;
}


.menu-prev-next-btn {
    background-color: white;
    /* border: none; */
    font-size: 100px;
    height: 100px;
    margin: auto;
}

.menu-prev-next-btn-deactivated {
    background-color: white;
    color: rgb(200, 200, 200);
    font-size: 100px;
    height: 100px;
    margin: auto;
}
