.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    width: 100%;
}

.menu-nav-categories div {
    font-weight: bold;
    font-size: 24px;
}

.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    margin: auto;
    z-index: 1;
}

.category-title {
    cursor: pointer;
    width: 100px;
}

.selector-lines {
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.category-title:hover .selector-lines {
    opacity: 1;
    visibility: visible;
}


/*************index.jsx**********/

.menu-item-container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add-to-cart-btn {
    margin-top: 20px;
    width: 120px;
    height: 40px;
}


.menu-prev-next-btn {
    /* background-color: white; */
    /* border: none; */
    font-size: 100px;
    height: 100px;
    margin: auto;
}

.menu-prev-next-btn-deactivated {
    background-color: white;
    color: rgb(200, 200, 200);
    font-size: 100px;
    height: 100px;
    margin: auto;
}
