.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu-nav-categories {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    padding-left: 5rem;
    padding-right: 5rem;
    margin: 0px;
}


.categories-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    margin: auto;
    z-index: 1;
}

.category-title {
    cursor: pointer;
    width: 100px;
}

.selector-lines {
    position: absolute;
    visibility: hidden;
    /* z-index: 1; */
}

.category-title:hover .selector-lines {
    opacity: 1;
    visibility: visible;
}


/**index.jsx**/

.menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

.add-to-cart-btn {
    margin-top: 20px;
    width: 120px;
    height: 40px;
}

.handle-view {
    margin-bottom: 2%;
}


.menu-prev-next-btn {
    font-size: 100px;
    height: 100px;
    margin: auto;
}

.menu-prev-next-btn-deactivated {
    background-color: white;
    color: rgb(200, 200, 200);
    font-size: 100px;
    height: 100px;
    margin: auto;
}

.carousel-item {
    animation: slideIn 1s ease-in-out;
}


.description-container{
    border-bottom: 2px solid rgb(227, 227, 227);
}


.show-more-button {
    display: block;
    background-color: transparent;
  }

  .ingredients-description {
    max-height: 0px;
    overflow: hidden;
    transition: transform 1.0s ease-in-out;
    line-height: 30px;
  }

  .ingredients-description.expanded {
    max-height: 100px;
  }

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.carousel-item2 {
    animation: slideIn2 1.5s ease-in-out
}

@keyframes slideIn2 {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
