.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: .5rem;
    border-radius: 10px;
    height: 100%;

}

.card-content-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 420px;
    width: 100%;
    background-color: white;
    align-items: center;
    position: relative;
    z-index: -1;
    border-radius: 10px;
}

.product-name-front {
    font-weight: bold;
    width: 200px;
    position: absolute;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 1;
}

.product-image {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.product-price {
    font-size: 20px;
    position: absolute;
    margin-bottom: -350px;
}

.card-content-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 420px;
    overflow-y: scroll;
    padding-top: 7rem;
    gap: 1rem;
}

.product-name-back {
    text-align: center;
    font-weight: bold;
    width: 200px;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 2;
}

.menu-items-sub-cat {
    font-weight: bold;
    font-size: 20px;
}
