.outside-each-card {
    width: 100%;
}


.group-view .outside-each-card {
    width: 50%;
}



.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-right: .5rem;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;


}

.card-body:hover {
    transform: scale(1.02);
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.card-content-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 420px;
    /* width: 100%; */
    /* background-color: #f8f8f8; */
    align-items: center;
    position: relative;
    /* z-index: -1; */
    border-radius: 10px;
    /* border: 1px solid #f0f0f0; */
}

.card-content-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 420px;
    width: 100%;
    overflow-y: scroll;
    padding-top: 7rem;
    gap: 1rem;
    border-radius: 10px;
    /* border: 1px solid red;
    background-color: #f0f0f0; */
}

.card-content-back::-webkit-scrollbar {
    width: 7px;
    /* Adjust as needed */
}

.card-content-back::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;
    /* Color of the thumb */
    border-radius: 6px;
    /* Roundness of the thumb */
}

.card-content-back::-webkit-scrollbar-track {
    background-color: transparent;
    /* Color of the track */
}

.card-content-back:hover::-webkit-scrollbar-thumb {
    background-color: #555;
    /* Change the thumb color on hover */
}

#trash-icon {
    position: absolute;
    top: 0;
    right: 7px;
}

.product-name-front {
    font-weight: bold;
    width: 200px;
    position: absolute;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 1;
}

.product-image {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.product-price {
    font-size: 20px;
    position: absolute;
    bottom: 0;
}


.product-name-back {
    text-align: center;
    font-weight: bold;
    width: 200px;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 2;
}

.menu-items-sub-cat {
    font-weight: bold;
    font-size: 20px;
}
