.front-card {
    /* background: rgb(255, 255, 255); */
}

.back-card {
    background: rgba(211, 211, 211, 1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 420px;
    width: 250px;

    border: 1px solid rgba(196, 196, 196, 1);
    border-radius: 10px;
    box-shadow: 7.78px 7.78px 6.48px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.card-content-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 420px;
    width: 250px;
    background-color: white;
    align-items: center;
    position: relative;
    z-index: -1;
}

.product-name-front {
    font-weight: bold;
    width: 200px;
    position: absolute;
    margin: auto;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 1;
}

.product-image {
    /* width: 100%; */
    height: 100%;
    /* object-fit: cover; */
    position: relative;
    z-index: -1;
}

.card-body img {
    object-fit: cover;
}

.product-price {
    font-size: 20px;
    position: absolute;
    margin-bottom: -350px;
}

.card-content-back {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-name-back {
    text-align: center;
    font-weight: bold;
    width: 200px;
    font-size: 35px;
    letter-spacing: 0.88px;
    z-index: 2;
}
