.ourstory-page {
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-image: url("https://i.imgur.com/WHVne78.png"); */
    height: 100vh;
}

.ourstory-page-bg-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

#ourstory-title {
    color: white;
    padding: 8px 20px 2px 20px;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(183, 34, 34);
    font-size: 3rem;
    font-weight: bold;
}

#owner-img {
    width: 45%;
    /* border: 1px solid red; */
}

.ourstory-body {
    margin-top: 4%;
    text-align: center;
    /* border: 1px solid red; */
    width: 90%;
}

.ourstory-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sponsored-athletes-section {
    display: flex;
    flex-direction: column;
}

.sponsored-athletes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

.athlete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 15px;
    width: 300px;
    height: 420px;
}

.our-story-athlete-image-container {
    padding: 15px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.our-story-athlete-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    /* background-position: center; */
}

.our-story-athlete-name {
    font-size: 28px;
    font-weight: bold;
}

.our-story-athlete-position {
    font-size: 22px;
}

.our-story-athlete-favorite {
    font-size: 18px;
}

.ourstory-contact-section {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    width: 900px;
}

.address-hours-title {
    font-size: 40px;
    font-weight: bold;
}

.address-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ourstory-contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hours-and-address {
    display: flex;
    gap: 150px;
    margin: 25px;
}

.actual-address {
    font-size: 24px;
}

.actual-hours {
    font-size: 24px;
}

.mess-email-btn {
    width: 180px;
    height: 40px;
}
