.ourstory-page {
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background-image: url("https://i.imgur.com/WHVne78.png"); */
    height: 100vh;

}

.ourstory-page-bgimg {
    /* background-image: url("/images/BG_Our_Story.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    /* width: 80%; */
    /* height: 80%; */
    position: relative;
    /* top: 0;
    left: 0; */
    z-index: -1;
    opacity: 0.5;
}

#ourstory-title {
    font-size: 45px;
    font-weight: 600;
    color: white;
    padding: 8px 20px 2px 20px;
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(183, 34, 34);
}

#owner-img {
    width: 45%;
    /* border: 1px solid red; */
}

.ourstory-body {
    margin-top: 4%;
    text-align: center;
    /* border: 1px solid red; */
    width: 90%;
}

.ourstory-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sponsor-title {
    font-size: 30px;
    font-weight: 400;
    color: white;
    background-color: rgb(14, 137, 251);
    padding: 8px 20px 2px 20px;
    margin-top: 10%;
    margin-bottom: 7%;
}

.sponsored-athletes-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

.sponsored-photo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
    width: 92%;
}

#athlete-photo {
    width: 30%;
    /* transition: transform 0.3s, filter 0.3s;
    filter: brightness(1); */
}

/* #athlete-photo:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
} */

.ourstory-contact-section {
    display: flex;
    /* border: 1px solid red; */
    width: 90%;
}

#address-title {
    font-size: 30px;
    font-weight: 400;
}

#address {
    font-size: 20px;
}

.address-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
