.ourstory-page {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-us-container {
    display: flex;
    flex-direction: column;
}

.ourstory-page-bg-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}

#ourstory-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(0, 145, 209, 1);
}

#owner-img {
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25); */
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    /* background-color: transparent; */
}


.ourstory-body {
    margin-top: 4%;
    text-align: left;
    /* width: 90%; */
    background-color: white;
    padding: 2rem;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    border-radius: 5px;
    font-style: italic;
    /* height: 97%; */
}

.ourstory-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 10rem;
}


.sponsored-athletes-section {
    display: flex;
    flex-direction: column;
}

.sponsored-athletes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

.athlete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 15px;
    width: 300px;
    height: 420px;
}

.our-story-athlete-image-container {
    padding: 15px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.our-story-athlete-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    /* background-position: center; */
}

.our-story-athlete-name {
    font-size: 28px;
    font-weight: bold;
}

.our-story-athlete-position {
    font-size: 22px;
}

.our-story-athlete-favorite {
    font-size: 18px;
}

.ourstory-contact-section {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    width: 900px;
}

.address-hours-title {
    font-size: 40px;
    font-weight: bold;
}

.address-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ourstory-contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hours-and-address {
    display: flex;
    gap: 150px;
    margin: 25px;
}

.actual-address {
    font-size: 24px;
}

.actual-hours {
    font-size: 24px;
}

.mess-email-btn {
    width: 180px;
    height: 40px;
}


@media screen and (max-width: 700px){
    .ourstory-title{
        font-size: 10px;
    }

    .ourstory-page-content {
        padding: 1rem;
    }
}
