#root {
  margin: 0 auto;
  padding: 0;
}

/* styles.css or your preferred CSS file */


.read-the-docs {
  color: #888;
}

.redirecting {
  margin: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
