@tailwind base;
@tailwind components;
@tailwind utilities;

.headers {
    font-weight: bold;
    font-size: 56px;
    color: #000000;
}

button {
    cursor: pointer;
}

.green-btn {
    background-color: #5EAA00;
    border: solid 1px #5EAA00;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
}

.green-btn:hover {
    color: #5EAA00;
    background-color: #FFFFFF;
}
