@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgba(240, 240, 240, 1);
}

.headers {
    font-weight: bold;
    font-size: 56px;
}

.bg-titles-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 35px;
    margin-bottom: 25px;
    background-color: rgba(0, 145, 209, 1);
}

.bg-titles-green {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 35px;
    margin-bottom: 25px;
    background-color: #5EAA00;
}

.bg-titles-red {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 35px;
    margin-bottom: 25px;
    background-color: #D32540;
}

button {
    cursor: pointer;
}

.green-btn {
    background-color: #5EAA00;
    border: solid 1px #5EAA00;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
}

.green-btn:hover {
    color: #5EAA00;
    background-color: #FFFFFF;
}

.red-btn {
    background-color: #D32540;
    border: solid 1px #D32540;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
}

.red-btn:hover {
    color: #D32540;
    background-color: #FFFFFF;
}
