.events-request-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
}

.event-request-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.request-event-form-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    width: 730px;
    height: 600px;
}

.event-bar {
    width: 730px;
    height: 15px;
}

.event-green-bar {
    background-color: #5EAA00;
}

.divider {
    border-top: 1px solid #000;
    width: 80%;
    margin: auto;
}

.event-title {
    font-weight: bold;
    font-size: 50px;
    color: #000000;
}

.event-details {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #000000;
    margin: 40px;
}

.event-month-day {
    font-size: 60px;
    color: #000000;
}

.event-hours {
    font-size: 38px;
    color: #000000;
}

.request-event-btn-container {
    /* display: flex;
    justify-content: flex-end;
    align-items: flex-end; */
    margin: 0 0 20px 0
}

.request-event-btn {
    width: 140px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 5rem;
}

.form-request-event-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-start-and-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    height: 100px;
    width: 600px;
}

.form-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-start input {
    padding: 0 25px;
}

.form-end {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-end input {
    padding: 0 25px;
}

.form-email-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.form-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.form-date-inputs {
    border: 1px solid rgba(196, 196, 196, 1);
    width: 280px;
    height: 60px;
}

.form-inputs {
    border: 1px solid rgba(196, 196, 196, 1);
    width: 600px;
    height: 60px;
}

.form-titles {
    text-align: center;
    /* padding-top: 25px; */
}
  

  @media (max-width: 768px) {
    .request-event-btn {
      position: static;
    }
  }
