.hide-svg>svg {
    display: none;
}

.pointer-events-none>svg {
    /* border: 1px solid red; */
    position: relative;
    margin-bottom: 40px;
}

.add-item-form {
    display: flex;
    /* border: 1px solid red; */
    /* width: 50%; */
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 15%;
}

.add-item-form>form {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 10px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.25);
}

.edit-item-form {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 15%;
    width: 500px;
}

#form-title {
    font-size: x-large;
    margin-bottom: 2%;
}
