.nav-bar {
  background-color: white;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.orange-line {
  border: 3px solid #d98c00;
}

.red-line {
  border: 3px solid #d52540;
}

.green-line {
  border: 3px solid #5eac00;
}

.blue-line {
  border: 3px solid #0093d3;
}

.logo {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: center;
}

.icons-nav-bar {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.nutrition-logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-logo {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-icon {
  width: 100px;
}

#cart-icon {
  width: 80%;
}

.cart-icon{
  padding: 5px 6px 3px 6px;
  background-color: red;
  color: white;
  border-radius: 10px;
  position: relative;
  top:-79px;
  right:-70px;
  text-align: center;
}
