.nav-bar {
  background-color: white;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.orange-line {
  border: 3px solid #d98c00;
}

.red-line {
  border: 3px solid #d52540;
}

.green-line {
  border: 3px solid #5eac00;
}

.blue-line {
  border: 3px solid #0093d3;
}

.logo {
  /* border: 1px solid pink; */
  display: flex;
  justify-content: center;
}

.icons-nav-bar {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.nutrition-logo {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-logo {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sub-icon {
  width: 100px;
}

#cart-icon {
  width: 80%;
}

/* .ourstory-1 {
  transition: opacity 0.3s;

}

.ourstory-1:hover {
  opacity: 0;
  background-image: url('https://i.imgur.com/bmwn5DQ.png');
} */

/* .ourstory-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/bmwn5DQ.png");
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 0;
} */

/* .logo2:hover .ourstory-1 {
  opacity: 0;
} */

/*
.logo2:hover .ourstory-1:before {
  opacity: 1;
} */
